main {
    font-family: Helvetica;
   }

#bloco-NUMERO-1{
    background: rgb(212, 174, 38);
    border: 4px solid rgb(247, 225, 81);
    margin: 10px;
    color: white;
    font-size: medium;
    padding: 10px;
    font-family: Helvetica;
}

#bloco-NUMERO-2{
    background: rgb(38, 135, 38);
    border: 4px solid rgb(68, 214, 68);
    margin: 10px;
    color: white;
    padding: 10px
}

#bloco-NUMERO-3{
    background: green;
    border: 4px dashed rgb(2, 4, 2);
    margin: 10px;
    color: white;
    padding: 10px
}

#bloco-NUMERO-4{
    background: rgb(170, 28, 28);
    border: 4px dashed rgb(253, 165, 165);
    margin: 10px;
    color: white;
    padding: 10px
}